// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// Polski (Polska) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_PLK)
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
#pragma code_page(1250)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ADD_RESERVATION DIALOGEX 0, 0, 250, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Add Reservation"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "First Name:",-1,10,10,50,10
    EDITTEXT        IDC_FIRST_NAME,70,10,150,14,ES_AUTOHSCROLL
    LTEXT           "Last Name:",-1,10,30,50,10
    EDITTEXT        IDC_LAST_NAME,65,27,150,14,ES_AUTOHSCROLL
    LTEXT           "Date:",-1,10,50,50,10
    EDITTEXT        IDC_DATE,70,50,150,14,ES_AUTOHSCROLL
    LTEXT           "Start Time:",-1,10,70,100,10
    EDITTEXT        IDC_HOUR_START,120,70,100,14,ES_AUTOHSCROLL
    LTEXT           "End Time:",-1,10,90,100,10
    EDITTEXT        IDC_HOUR_END,120,90,100,14,ES_AUTOHSCROLL
    LTEXT           "Room Number:",-1,10,110,50,10
    EDITTEXT        IDC_NUMBER,70,110,150,14,ES_AUTOHSCROLL
    LTEXT           "Reason:",-1,10,130,50,10
    EDITTEXT        IDC_REASON,70,130,150,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,50,160,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,160,50,14
END

IDD_REMOVE_RESERVATION DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Remove Reservation"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Reservation ID:",-1,10,10,80,10
    EDITTEXT        IDC_RESERVATION_ID,100,10,120,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Remove",IDOK,50,50,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,50,50,14
END

IDD_FIND_RESERVATION DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Find Reservation"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Reservation ID:",-1,10,10,80,10
    EDITTEXT        IDC_RESERVATION_ID,100,10,120,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Search",IDOK,50,50,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,120,50,50,14
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ADD_RESERVATION, DIALOG
    BEGIN
    END

    IDD_REMOVE_RESERVATION, DIALOG
    BEGIN
    END

    IDD_FIND_RESERVATION, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_ADD_RESERVATION AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_FIND_RESERVATION AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Polski (Polska) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

